MONAD_TESTNET_RPC_URL=https://testnet-rpc.monad.xyz
DEPLOYER_PRIVATE_KEY=
CLIENT_PRIVATE_KEY=
WORKER_PRIVATE_KEY=
ARBITRATOR_PRIVATE_KEY=
SETTLEMENT_TOKEN_ADDRESS=0x534b2f3A21130d7a60830c2Df862319e593943A3
PROTOCOL_TREASURY_ADDRESS=
NEXT_PUBLIC_MONAD_CHAIN_ID=10143
NEXT_PUBLIC_MONAD_RPC_URL=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_MONAD_EXPLORER_URL=https://testnet.monadvision.com
NEXT_PUBLIC_PACT_FACTORY_ADDRESS=
NEXT_PUBLIC_REPUTATION_REGISTRY_ADDRESS=
NEXT_PUBLIC_VERIFIER_REGISTRY_ADDRESS=
NEXT_PUBLIC_SETTLEMENT_TOKEN_ADDRESS=0x534b2f3A21130d7a60830c2Df862319e593943A3
NEXT_PUBLIC_ARBITRATOR_ADDRESS=
